@font-face {
    font-family: 'Gotham-Bold';
    /* Имя шрифта */
    src: url("../fonts/Gotham-Bold.otf");
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Gotham-Book';
    /* Имя шрифта */
    src: url("../fonts/Gotham-Book.otf");
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Gotham-Medium';
    /* Имя шрифта */
    src: url("../fonts/Gotham-Medium.otf");
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Myriad-Pro';
    /* Имя шрифта */
    src: url("../fonts/Myriad-Pro.otf");
    /* Путь к файлу со шрифтом */
}

nav {
    background-color: transparent;
}

a.nav-link {
    font-family: 'Myriad-Pro';
    font-size: 20px;
    color: #EBD71C;
    transition: 0.3s ease;
}
a.nav-link:hover{
    color: #ffffff;
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
}

div.center-nav{
    display: flex;
    justify-content: center;
}

li {
    padding: 0.65em;
}

body {
    width: 100%;
    height: auto;
    background-color: #000000;
}

@media (max-width: 992px) {
    li.logo {
        padding-left: 0.63em;
        padding-right: 0.63em;
    }
    li {
        padding: 0px;
    }
    .box{
        padding-left: 0px;
        text-align: center;
    }
}
/* block about */
.rowDiv {
    min-height: 474px;
}

.cart-text {
    background-color: #000000;
}

.cart-photo-right {
    background-image: url(../img/cart1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 474px;
}

.cart-photo-left {
    background-image: url(../img/cart4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 474px;
}

@media (min-width: 1250px) {
    .textin {
        padding-left: 12em;
        padding-top: 3.8em;
    }
}
.smallLeters {
    font-family: 'Gotham-Book';
    font-size: 16px;
    padding-top: 1.9em;
}
.bigLeters {
    font-family: 'Gotham-Medium';
    font-size: 25px;
}
.textin{
    color:#ffffff;
}

/*block team*/
.team{background-color: #ffffff!important;}
.fotoWordTeam {
    display: inline-block;
    position: absolute;
    background-image: url(../img/teamBlock.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 13em;
    padding-top: 4.4em;
}

.textOnFotoTeam {
    font-family: 'Gotham-Medium';
    font-size: 37.55px;
    color: #ffffff;
    text-transform: uppercase;
}

.titelTeam {
    font-family: 'Gotham-Book';
    font-size: 30.06px;
    color: #ffffff;
}

.nameTeam {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 89%;
}

.nameTeam>span {
    font-family: 'Gotham-Bold';
}

br~span {
    color: #11749e;
    font-family: 'Gotham-Medium';
}

.blockTeam {
    padding-top: 3%;
}

.teamBlock {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 22em;
}

.ceo {
    background-image: url(../img/ceo.jpg);
}

.designer {
    background-image: url(../img/webDesigner.jpg);
    background-position-x: 17%;
}

.photographer1 {
    background-image: url(../img/photographer.jpg);
}

.team {
    min-height: 850px;
}