@font-face {
    font-family: 'Gotham-Bold';
    /* Имя шрифта */
    src: url("../fonts/Gotham-Bold.otf");
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Gotham-Book';
    /* Имя шрифта */
    src: url("../fonts/Gotham-Book.otf");
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Gotham-Medium';
    /* Имя шрифта */
    src: url("../fonts/Gotham-Medium.otf");
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Myriad-Pro';
    /* Имя шрифта */
    src: url("../fonts/Myriad-Pro.otf");
    /* Путь к файлу со шрифтом */
}

nav {
    background-color: transparent;
}

a.nav-link {
    font-family: 'Myriad-Pro';
    font-size: 20px;
    color: #EBD71C;
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 4;
}

div.center-nav{
    display: flex;
    justify-content: center;
}

li {
    padding: 0.65em;
}

body {
    width: 100%;
    height: auto;
    background-color: #000000;
}

@media (max-width: 992px) {
    li.logo {
        padding-left: 0.63em;
        padding-right: 0.63em;
    }
    li {
        padding: 0px;
    }
    .box{
        padding-left: 0px;
        text-align: center;
    }
}